@{
    ViewBag.Title = "TimeTableApp";
}
<div ng-app="TimeTableApp" ng-controller="TimeTableController as vm">
    <div class="row">
        <div class="col-md-4 form-inline">
            <select ng-model="vm.Model.CurrentTimeZone" ng-options="m.Name for m in vm.Model.TimeZones" class="form-control"></select>
            <input type="time" name="currentTime" ng-model="vm.Model.CurrentTime" class="form-control" />
        </div>
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-hover">
                <tr ng-repeat="h in vm.Model.TimeZones track by h.Name">
                    <th>{{h.Name}}</th>
                    <td ng-click="vm.SelectHour($index,h)" ng-repeat="hour in vm.GetHours() track by $index" ng-class="vm.CurrentHourClass($index,h)" style="cursor:pointer">
                        {{vm.CalTimeZoneHour($index,h)}}
                    </td>
                    <th>{{vm.GetCurrentDateTime(h) | date:'yyyy-MM-dd HH:mm'}}</th>
                </tr>
            </table>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/App/TimeTable.js"></script>

}